<header>
    <div class="container header-div">
        <img src="/img/logo_transparent.png" class="header-logo"></img>
        <div>
            <a href="/">Weather</a>
            <a href="/about">About</a>
            <a href="/documentation">Documentation</a>
        </div>
    </div>
</header>